.testimonial {
  .img {
    width: 3rem;
    height: 3rem;
  }

  .block {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 1rem;
      width: 0;
      left: 4rem;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 10px 0;
      border-color: transparent #333 transparent transparent;
    }

    .block-quote {
      background-color: #333;
      color: rgba(255, 255, 255, 0.3);
      max-width: 80%;
      padding: 2rem;
      margin-left: 2rem;
    }
  }

  cite {
    a {
      color: #bac964;
      text-decoration: none;
    }
  }
}

.services {
  .service-item {
    background-color: #333;
    color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

    .icon {
      position: relative;
      color: white;
      height: 3rem;
      width: 3rem;
      color: #bac964;
    }

    .icon-chevron {
      color: #bac964;
    }

    .site-link {
      color: #bac964;
      text-decoration: none;
    }

    p {
      margin-top: 2rem;
    }
  }
}


@media  screen and (max-width: 768px) {
  .service-item {
      margin-top: 2rem;
  }
}